- if flash[:notice]
	.alert.alert-info
		= flash[:notice]

%h1.logo-brand ClickSwapper

.marketing-section
	%p#headline.lead
		%strong Cost effectively
		advertise your site.

%p.text-center.ad-credits-container
	Your Ad Credits:
	%span#ad-credits 0

.row-fluid
	.span6
		%p.text-center
			%strong Your Ad
		%a#your-ad{href: "#"}
			.ad-container
				.row-fluid
					.span4
						= image_tag "shirt.jpg", class: "ad-thumb"
					.span8
						%p.ad-headline
							JJ's Shirts
						%p.ad-promo
							High quality shirts at a reasonable price!
		%p.muted.text-center Clicks on your ads use credits.
	.span6
		%p.text-center
			%strong Ad Shown On Your Site
		%a#other-ad{href: "#"}
			.ad-container
				.row-fluid
					.span4
						= image_tag "shoe.jpg", class: "ad-thumb"
					.span8
						%p.ad-headline
							MJ's Shoes
						%p.ad-promo
							Sick kicks for cheap!
		%p.muted.text-center Clicks on ads you show earn credits.



.marketing-section

.text-center
	= render "email_form"

.marketing-section
	%p.lead
		%strong Get users
		by swapping clicks with other websites.  Simply show ads for other websites to earn credits for your advertising campaigns.

	%p.lead
		We are a
		%strong click for click
		exchange, so for every user that clicks on the ads you show, we guarantee a click for your ad.  There is
		%strong no limit
		to the number of impressions it takes.

	%p.lead
		%strong You
		can pick the ads your site will show.  We give you the power to choose which ads you want.  This allows you to only pick ads that
		%strong complement
		your product, not compete with it.



.marketing-section.text-center
	= render "email_form"
